<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>586328348343-immuug2obu6jig4o661sd9hmfai47dmm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586328348343-immuug2obu6jig4o661sd9hmfai47dmm</string>
	<key>API_KEY</key>
	<string>AIzaSyCvIBjS6RKzs98a_xPVfmvNj90sCQ11SWw</string>
	<key>GCM_SENDER_ID</key>
	<string>586328348343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mitulmanish.ImageInsights</string>
	<key>PROJECT_ID</key>
	<string>imageanalysis1-4bc3f</string>
	<key>STORAGE_BUCKET</key>
	<string>imageanalysis1-4bc3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:586328348343:ios:7064bf8a92b07937</string>
	<key>DATABASE_URL</key>
	<string>https://imageanalysis1-4bc3f.firebaseio.com</string>
</dict>
</plist>